<div class="container">
    <div class="search-page">
      <h3 class="text-center mb-4">Get your such done kiddo!!!</h3>
      <form (submit)= "searchUsername()" class="">
        <!-- <label for="username">Username:</label> -->
        <div class="search-bar">
          <input type="text" name="username" id="username" [(ngModel)]= "username" class="form-control form-control-lg" placeholder="Github username.." formControlName="username" ngmodel/>
          <div class="search__btn">
            <button class="btn btn-sm mt-1"[disabled]="!searchForm.valid">
            <i class="fa-solid fa-magnifying-glass">Search</i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <app-footer></app-footer>
  </div>
