.container {
    width: 80%;
    height: 200px;
    position: relative;
  }
  
  .search-page {
    width:90%;
    position: absolute;
    top: 100%;
  }
  
  .search-bar {
    position: relative;
  }
  
  .search__btn {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .search__btn button {
    background: none;
    color: red;
    font-size: 25px;
    /* cursor: pointer; */
  }
  
  .search__btn button:hover {
    color: rgb(19, 204, 56);
  }